<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" ng-app='MovieAppList'>
<!--<![endif]-->

<head>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-93764600-1', 'auto');
	  ga('send', 'pageview');

	</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fliqpick | Top Movies</title>
	<meta property="og:url"           content="http://www.fliqpick.html" />
  	<meta property="og:type"          content="movie website" />
  	<meta property="og:title"         content="Fliqpick | Inteligent Movie Lists" />
  	<meta property="og:description"   content="With Fliqpick your personalized movie tolist and recommendation is an art of science" />
  	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
    <meta name="description" content="Responsive website">
    <meta name="keywords" content="Movies">
    <meta name="author" content="Fliqpick">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->




    <!--google fonts-->



<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">




    <!--font awesome-->
    <link rel="stylesheet" href="../static/css/font-awesome.css">

    <!--end font awesome-->


    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/applist.js"></script>
    <script src="../static/js/angular-cookies.min.js"></script>
	<script src="../static/js/angular-route.js"></script>
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->




</head>

<body>

  <!--
		<div class="headertop">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="welcomemessage">
							Welcome to fliqpick
						</div>
					</div>
					<div class="col-sm-8">
						<div class="htoprightmenu">
							<ul>
								<li><a href="">FAQ</a></li>&nbsp;&nbsp;&nbsp;|&nbsp;
								<li><a href="">Privacy</a></li>
								<li class="searchbox">
								   <input type="search" placeholder="Search">
									<i class="fa fa-search"></i>

								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    -->
        <!--end-->

				<div class="headerlogoarea">
        	<div class="container">
        			<div class="col-sm-12 col-md-12 col-xs-12">
                <nav class="mainavigation navbar navbar-default">
        		  <div class=" maincontainer">
        			<!-- Brand and toggle get grouped for better mobile display -->
        			<div class="navbar-header">
                <div class="logo">
        					<a href="/index.html">
        						<img src="../static/img/logo.png" class="img-responsive" alt="logo">
        					</a>
                  <div class="logomiddletext">
          					<h3>Your <span>movie</span> Toplist! <span>Pick</span> by <span>Fliq</span> </h3>
          				</div>
        				</div>
        			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        			  </button>
        			  <!--<a class="navbar-brand" href="#">Brand</a>-->
        			</div>

        			<!-- Collect the nav links, forms, and other content for toggling -->
        			<div class="maincollapse collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        			  <ul class="nav navbar-nav">
        				<li class="actives"><a href="index.html">Home</a></li>
        				<li><a href="#">about</a></li>
        				<li><a href="#">contact</a></li>
                <li class="top"><a href="#">go to your top list</a></li>
        			  </ul>

        			  <!--<ul class="rightnavbar nav navbar-nav navbar-right">
        				<li><a href="toplist.html">go to your top list</a></li>

              </ul> -->
        			</div><!-- /.navbar-collapse -->
              <div class="social-head">
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </div>
        		  </div><!-- /.container-fluid -->
        		</nav>
        			</div>
        				<!--<div class="socialicon">
        					<ul>
        						<li><a href=""><img src="../static/img/fb.png" class="img-responsive" alt="fb"></a></li>
        					</ul>
        				</div> -->

        	</div>
        </div>
        <section class="interstellerarea">
        	<div class="container">
					<!--<div class="col-sm-4">
						<div class="sortby">
							Sort by:
							<select>
								<option>My Top 20</option>
								<option>My Top 10</option>
								<option>My Top 30</option>
								<option>My Top 50</option>
							</select>
						</div>
					</div>--><!--end-->
        		<div class="row" ng-controller="MovieList">
        			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
								<div class="table-wrap">
        				<div class="table-responsive tabletopmovies">
									<div class="table-head">
										<p>Top Raited Movies</p>
										<p class="is-green">Your top 25</p>
										<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>Share on facebook</a>
									</div>
        					<table class="table">
        						<tr class="titletr">
        							<th>Rank</th>
        							<th>poster & title</th>
        							<th class="text-center vote"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>vote percentage</th>
        							<th class="text-center">Global Rank</th>
        						</tr>
								<!--{% for movs in movlist %} -->
        						<tr class="tablerowtow">
        							<td>{{ loop.index }}1</td>
									<td class="tableimage">
												<img src="../static/img/logan.jpg" alt="poster">
												<span>logan(2017)</span>
        								<img ng-src="../static/posters/{{movs.Poster}}Table.jpg" class="img-responsive">
        								<span>{{movs.Title}}</span>
        							</td>
        							<td><span class="percentage">{{movs.winpct}}73.9%</span></td>
        							<td>
        								<div class="startimage">
													<span>4</span>
        									<img src="../static/img/star.png" class="img-responsive">
        								</div>
        							</td>
        						</tr>
										<tr class="tablerowtow">
        							<td>{{ loop.index }}2</td>
									<td class="tableimage">
												<img src="../static/img/ghost.jpg" alt="poster">
												<span>Ghost in the shell(2017)</span>
        								<img ng-src="../static/posters/{{movs.Poster}}Table.jpg" class="img-responsive">
        								<span>{{movs.Title}}</span>
        							</td>
        							<td><span class="percentage">{{movs.winpct}}46.6%</span></td>
        							<td>
        								<div class="startimage">
													<span>5</span>
        									<img src="../static/img/star.png" class="img-responsive">
        								</div>
        							</td>
        						</tr>
							<!--	{% endfor %} -->
        						</table>
        					</div>
									<div class="sortby">
										Sort by:
										<select>
											<option value="My Top 20">My Top 20</option>
											<option value="My Top 10">My Top 10</option>
											<option value="My Top 30">My Top 30</option>
											<option value="My Top 50">My Top 50</option>
										</select>
										<p>1-10 of 100</p>
										<a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
										<a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
									</div>
							</div>
        		</div>
        	</div><!--end-->
        </section><!--end-->
				<footer>
		      <div class="container">
		        <div class="col-sm-4">
		          <div class="copyright">
		            <p>fliqpick.com copyright 2017</p>
		          </div>
		        </div>
		        <div class="col-sm-4">
		          <div class="social-footer">
		            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
		            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		          </div>
		        </div>
		        <div class="col-sm-4">
		          <div class="privacypolicy">
		            <p><a href="">privacy policy</a></p>
		          </div>
		        </div>
		      </div>
		    </footer>
        <!-- script here -->
		<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.3.min.js" async><\/script>') </script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
  		<script>

			   $(document).ready(function(){
					$('.searchbox i').click(function(){
						$('.searchbox input').toggle();
					});
				});
		</script>

        <script type="text/javascript">
            $(window).scroll(function() {
                var scroll = $(window).scrollTop();

                if (scroll >= 300) {
                    $(".staticfb").addClass("fixedfb");
                } else {
                    $(".staticfb").removeClass("fixedfb");
                }
            });
        </script>
</body>
</html>
